.div {
         text-align: right;
         border-style: solid;
}
.align {
            text-align: center;
          }


.contact-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b2fcf7;
  width: 4000px;
  height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 87px 250px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  border-style: solid;

}

.welcome-to-my {
  margin: 0px;
  border-style: solid;
}
.marlen-vega {
  margin: 60;
  font-size: 50px;
  align-content: center;
  border-style: solid;
  
}
.welcome-to-my-container {
  flex: 1;
  position: relative;
  line-height: 100px;
  left: 125px;
  border-style: solid;
}
.welcome-to-my-portfolio-marle-wrapper {
  /*width: 1700px;*/
  height: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /*margin: 200;*/
  font-size: 50px;
  /*left: 20px;*/
  top: 30px;
  border-style: solid;

}
.frame-div {
  position: absolute;
  top: 585px;
  left: -316px;
  width: 1521px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-81xl);
  border-style: solid;
}
.uxui-designer {
  line-height: 40px;
  margin-top: 0%;
}
.uxui-designer-wrapper {
  position: absolute;
  top: 270px;
  left: 900px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 40px;
}
.desktop-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2552px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-mukta-mahee);
}
.problem-statemet {
    position: relative;
    line-height: 30px;
    font-size: 50px;
  }
  .my-portfolio-was {
    position: relative;
    font-size: 20px;
    line-height: 45px;
    display: inline-block;
    width: 926px;
    height: 214px;
    flex-shrink: 0;
  }
  .problem-statemet-parent {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--color-paleturquoise);
    width: 1440px;
    height: 1140px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 215px 123px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 364px;
  }
  .my-inspirations,
  .research1 {
    position: absolute;
    top: 88px;
    left: 123px;
    line-height: 30px;
  }
  .my-inspirations {
    top: 260px;
    font-size: 20px
    line-height: 45px;
  }
  .screen-shot-2023-05-22-at-903,
  .screen-shot-2023-05-22-at-904 {
    position: absolute;
    top: 354px;
    left: 426px;
    width: 588px;
    height: 326px;
    object-fit: cover;
  }
  .screen-shot-2023-05-22-at-903 {
    top: 740px;
    height: 327.75px;
  }
  .research-parent {
    position: absolute;
    top: 1140px;
    left: 50;
    background-color: var(--color-plum);
    width: 1440px;
    height: 1137px;
    overflow: hidden;
    font-size: 50px;
  }
  .desktop-3-child,
  .desktop-3-item {
    position: absolute;
    top: 400px;
    left: 82px;
    border-top: 2px solid var(--color-black);
    box-sizing: border-box;
    width: 1285px;
    height: 2px;
  }
  .desktop-3-item {
    top: 1286px;
  }
  .desktop-3 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 2277px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-51xl);
    color: var(--color-black);
    font-family: var(--font-mukta-mahee);
    top: 300px;
  }
  .im-a-woman {
    margin: 0;
    top: 40px;
  }
  .im-a-woman-container {
    position: absolute;
    top: 1300px;
    left: 125px;
    line-height: 45px;
    font-weight: 300;
    display: inline-block;
    width: 892px;
    height: 377px;
  }

  .make-a-meal,
.redesigning-the-stop {
  position: absolute;
  top: 100px;
  left: 475px;
  font-size: var(--font-size-21xl);
  line-height: 30px;
  display: inline-block;
  width: 308px;
  height: 57px;
  font-size: 30px;
}   
.redesigning-the-stop {
    top: 550px;
    left: 410px;
    width: 484px;
    height: 44px;
  }

  .main-icon,
.new-macbook-pro-mockup-front-v1,
.shadow-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 651px;
  height: 366.23px;
  object-fit: cover;
}
.new-macbook-pro-mockup-front-v1 {
  top: 5.77px;
  left: 75.36px;
  width: 498.35px;
  height: 319.89px;
  mix-blend-mode: normal;
}
.new-macbook-pro-mockup-front-v {
  position: absolute;
  top: 640px;
  left: 250px;
  width: 651px;
  height: 366.23px;
}
.iphone-11-pro-mockup-label,
.main-icon1 {
  position: absolute;
  top: 0.8px;
  left: 0.8px;
  width: 138.66px;
  height: 277px;
  object-fit: cover;
}
.iphone-11-pro-mockup-label {
  top: 8.64px;
  left: 9.28px;
  width: 120.59px;
  height: 260.45px;
  mix-blend-mode: normal;
}
.iphone-11-pro-mockup {
  position: absolute;
  top: 175px;
  left: 300px;
  width: 159.93px;
  height: 298.43px;
  background-image: url(.iphone-11-pro-mockup1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.iphone-11-pro-mockup-label1,
.main-icon2 {
  position: absolute;
  top: 0.8px;
  left: 0.8px;
  width: 137.89px;
  height: 275.47px;
  object-fit: cover;
}
.iphone-11-pro-mockup-label1 {
  top: 8.59px;
  left: 9.22px;
  width: 119.92px;
  height: 259.01px;
  mix-blend-mode: normal;
}
.iphone-11-pro-mockup1 {
  position: absolute;
  top: 175px;
  left: 505px;
  width: 159.05px;
  height: 296.78px;
  background-image: url(.iphone-11-pro-mockup2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.iphone-11-pro-mockup-label2,
.main-icon3 {
  position: absolute;
  top: 0.79px;
  left: 0.79px;
  width: 137.75px;
  height: 275.18px;
  object-fit: cover;
}
.iphone-11-pro-mockup-label2 {
  top: 8.58px;
  left: 9.22px;
  width: 119.8px;
  height: 258.74px;
  mix-blend-mode: normal;
}
.iphone-11-pro-mockup2 {
  position: absolute;
  top: 175px;
  left: 710px;
  width: 158.88px;
  height: 296.47px;
  background-image: url(.iphone-11-pro-mockup-label2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.work {
    top: 250px;
    left: 60px;
    width: 1440px;
    height: 1137px;
    font-size: 50px;
}
.about-me {
  top: 50px;
  left: 60px;
  width: 1440px;
  height: 1137px;
  font-size: 50px;
}

.about,
.contact,
.home,
.problem-statement,
.research1,
.work1 {
  position: absolute;
  top: 2000px;
  left: 487px;
  line-height: 35px;
  font-weight: 600;
  display: inline-block;
  width: 100px;
  height: 32px;
}
.about,
.contact,
.home,
.problem-statement,
.research1 {
  left: 120px;
  width: 170px;
}
.about,
.contact,
.home,
.problem-statement {
  top: 2146px;
  left: 730px;
  width: 90px;
  height: 26px;
}
.contact,
.home,
.problem-statement {
  top: 2000px;
  left: 731px;
  width: 142px;
  height: 30px;
}
.home,
.problem-statement {
  top: 2146px;
  left: 486px;
  width: 90px;
  height: 29px;
}
.problem-statement {
  top: 2148px;
  left: 120px;
  width: 270px;
  height: 35px;
}
.ed9a0fd507968861891b1098f480f4-icon,
.icon,
.icon1 {
  position: absolute;
  top: 2100px;
  left: 1100px;
  width: 69px;
  height: 69px;
  object-fit: cover;
}
.ed9a0fd507968861891b1098f480f4-icon,
.icon1 {
  left: 1000px;
}
.ed9a0fd507968861891b1098f480f4-icon {
  left: 900px;
}

.rectangle-div {
  border-style: solid;
}

.div {
  border-style: solid;
}